// Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;
$fuenteInstagram: 'Bilbo Swash Caps', cursive;

// Media Queries
$telefono: 450px;
$tablet: 885px;
$desktop: 1024px;

// Colores
$primario: #5e311e;
$secundario: #00B4D8;
$negro: #000;
$blanco: #fff;
$grisClaro: #f5f3f4;
$cafeClaro: #ebe7de;
$azulFuerte: #1877f2;
$grisFuerte: #ced4da;

// Unidades
$separacion: 5rem;